/* Fonts*/
/* baloo-thambi-2-regular - latin */
@font-face {
    font-family: 'Baloo Thambi 2';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/baloo-thambi-2-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/baloo-thambi-2-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/baloo-thambi-2-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/baloo-thambi-2-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/baloo-thambi-2-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/baloo-thambi-2-v2-latin-regular.svg#BalooThambi2') format('svg'); /* Legacy iOS */
  }

/* concert-one-regular - latin */
@font-face {
    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/concert-one-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/concert-one-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/concert-one-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/concert-one-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/concert-one-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/concert-one-v12-latin-regular.svg#ConcertOne') format('svg'); /* Legacy iOS */
  }
/* Hero cover */

.cover-hero{
    background-image: url('images/hero-cover.jpg');
    width:100%;
    background-size: cover;
height:550px;
align-items: center;
display:flex;
justify-content: center;
}

.btn-primary{
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: whitesmoke;
    font-size: 16px;
}

/* Section Hero */

#heroflexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.item-flexbox-hero-droit{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.item-flexbox-hero-gauche{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
/* Section article*/

#cards{
display:flex;
flex-wrap:nowrap;
flex-direction: row;
align-items: center;
flex-basis: 0;
justify-content: flex-start;
margin:3%;
}

.item-flexbox-article-grid{
padding:1%;
flex:auto;
border-left: solid white 8px;
flex-wrap:wrap;
margin:1%;
box-shadow: 4px -2px 51px -15px rgba(0,0,0,0.15);
-webkit-box-shadow: 4px -2px 51px -15px rgba(0,0,0,0.15);
-moz-box-shadow: 4px -2px 51px -15px rgba(0,0,0,0.15);
}

.image-responsive{
    width:100%;
    height:auto;
}

.item-flexbox-article-grid p{

text-align: center;
font-family: 'Baloo Thambi 2';
}

.item-flexbox-article-grid h3{
    text-align: center;
    font-family: 'Concert One';
    letter-spacing: 5px;
    }

    .item-flexbox-article-grid:hover{
        box-shadow: -1px -1px 37px -22px rgba(254,15,127,1);
        -webkit-box-shadow: -1px -1px 37px -22px rgba(254,15,127,1);
        -moz-box-shadow: -1px -1px 37px -22px rgba(254,15,127,1);
        transition: all 1s ease-out;
    }
/* Media queries article */

    @media all and (max-width: 600px)
    {
        #cards{
            display:flex;
            flex-wrap:wrap;
            flex-direction: column;
            align-items: normal;
            flex-basis: 0;
            justify-content: center;
            margin:0;
            }

            .item-flexbox-article-grid{
                padding:0%;
                flex:auto;
                border-left: solid white 0px;
                flex-wrap:wrap;
                margin:0%;
                
                box-shadow: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                }
            .item-flexbox-article-grid img{
                width:100%!IMPORTANT;
                height:auto;
            }
            }

            @media only screen and (min-width: 1024px) and (max-width: 1920px) {
                #cards{
                    display:flex;
                    flex-wrap:nowrap;
                    flex-direction: row;
                    align-items: normal;
                    flex-basis: 0;
                    justify-content: center;
                    margin:0;
                    }
        
                    .item-flexbox-article-grid{
                        padding:0%;
                        flex:auto;
                        border-left: solid white 0px;
                        flex-wrap:wrap;
                        margin:0%;
                        
                        box-shadow: none;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        }
                    .item-flexbox-article-grid img{
                        width:100%!IMPORTANT;
                        height:auto;
                    }
            }

            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                #cards{
                    display:flex;
                    flex-wrap:wrap;
                    flex-direction: row;
                    align-items: normal;
                    flex-basis: 0;
                    justify-content: center;
                    margin:0;
                    }
        
                    .item-flexbox-article-grid{
                        padding:0%;
                        flex:auto;
                        border-left: solid white 0px;
                        flex-wrap:wrap;
                        margin:0%;
                        
                        box-shadow: none;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        }
                    .item-flexbox-article-grid img{
                        width:100%!IMPORTANT;
                        height:auto;
                    }
            }
            
/* Fin medias queries article*/

